
.idea/
__pycache__/
*.xlsx
*.xls
*.csv
*.html

JCU_Weeks.ics
combinations.py
databaseDetails.txt
fileRenamer.py
justtesting.py
logins.txt
messages.txt
private.py
quiznight6.py
slackEmails.txt
slackEmails2.txt
slackInviteChannels.py
slackInviteResults.txt
slackSendPasswords.py
slackTest.py
smsTelstraPrivate.py
smsTestsTwilio.py
subjects.txt
test.ics
test.py
testQuestions/
things.txt
