
.idea/
__pycache__/
private.pyc
adventofcode/
testQuestions/
data/
output/
temp/

output/nonslackers_170310_invited.txt
slackEmails.txt
slackEmails2.txt
data/subjects.txt
test.py
justtesting.py
private.py
quiznight6.py
slackTest.py
smsTelstraPrivate.py
smsTestsTwilio.py
sms_test_post.html
stackOverflowHelp.py
tryout_xlrd.py
