
.idea/
__pycache__/
testQuestions/
data/
*.xlsx
*.xls
*.csv
*.html

JCU_Weeks.ics
test.ics
databaseDetails.txt
logins.txt
messages.txt
nonslackers.txt
slackEmails.txt
slackEmails2.txt
slackInviteResults.txt
subjects.txt
things.txt
test.py
justtesting.py
private.py
quiznight6.py
slackTest.py
smsTelstraPrivate.py
smsTestsTwilio.py
